[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/sovereign/*"
  to = "/sovereign/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "20"
