[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "20"

[dev]
  command = "vite"
  targetPort = 3002

# Netlify Edge Functions routes are defined inside the edge-functions using export const config = { path: '/api/something'}

[[redirects]]
  from = "/api/*"
  to = "https://srv1307385.hstgr.cloud/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/assets/*"
  to = "/assets/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/"
  to = "/index.html"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "https://prime-ai.fr/:splat"
  status = 200
  force = true

[[headers]]
  for = "/*"
  [headers.values]
    Clear-Site-Data = '"cache", "executionContexts"'
