[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "20"

# Netlify Edge Functions routes are defined inside the edge-functions using export const config = { path: '/api/something'}

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
